<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta http-equiv="x-ua-compatible" content="ie=edge"></meta>
    <title>Material Design Bootstrap</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css"></link>
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="../css/mdb.min.css"></link>

    <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet"></link>

    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"></link>

    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"></link>
</head>

<style>
    body {
        background-color: #fff;

        font-family: 'Quicksand', sans-serif;

    }

    .navbar {
        background-color: #6f7782;
    }
     footer.page-footer {
            background-color: #6f7782;
        }


</style>


<body class="container d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="row d-flex align-items-center justify-content-center">

        <div class="card col-md-8 col-sm-8 py-0 px-0" style="width: 800px">

        <div class="card-body mt-4" >

            <div style="width: 100%" class="d-flex align-items-center">

                <img src="../img/svg/failure.svg" class="rounded-circle avatar mx-auto d-flex align-items-center mb-5 z-depth-2" width="100px" alt="First sample avatar image"></img>

            </div>
               
			   <h6 th:text="${salutation}">Dear Anonymous</h6>

			   <h2 class="text-center mb-4" th:text="${title}">Invalid Activation Code</h2>
			   
			   <p class="mb-4" style="line-height: 30px" th:text="${message}">The activation code supplied is invalid.</p>


               <h6>Yours Faithfully</h6>
               
			   <h6>Team Branded</h6>

        </div>

         <!--Footer-->
        <div class="rounded-bottom blue lighten-3 text-center py-2">

            © 2017 Copyright: <a href="https://www.branded.com.ng"> Branded </a>
    
        </div>
        <!--/Footer-->

    </div>
    

    </div>
    <!--Main Layout-->

   
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../js/bootstrap.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../js/mdb.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>

</html>