/* YOUR CUSTOM STYLES */


body {
    font-family: "Merriweather", Times, "Times New Roman", serif;
    font-weight: 100;
    font-size: small;
    margin: 0;
    overflow: hidden;

}

.dropdown-widget {
    display: inline-flex;
}

canvas{
    width: 100%;
    height: 100%;

}

.ui {
    position: relative;
}



.dropdown-widget a {
    width: 70px;
    margin: 2px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}

h2{
    font-weight: bold;
    font-size: 24px;
}


.card{

    border-radius: 0px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px; }

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5; }

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); }


.scroll-1 {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 200px;

}

@-webkit-keyframes wobble {
    0% {
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg); }

    100% {
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg); } }

@keyframes wobble {
    0% {
        -moz-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg); }

    100% {
        -moz-transform: rotate(-2deg);
        -o-transform: rotate(-2deg);
        -ms-transform: rotate(-2deg);
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg); } }


#beginHere {
    -moz-transition: opacity 2s;
    -o-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    moz-transform-origin: 80% 50%;
    -o-transform-origin: 80% 50%;
    -ms-transform-origin: 80% 50%;
    -webkit-transform-origin: 80% 50%;
    transform-origin: 80% 50%;
    -webkit-animation: wobble 0.5s ease-in-out 0s infinite;
    -webkit-animation-direction: alternate;
    animation: wobble 0.5s ease-in-out 0s infinite;
    animation-direction: alternate;
    position: absolute;
    font-family: "Permanent Marker", sans-serif;
    font-size: 2em;
    padding-left: 160px;
    background: url(//cdn1.tailorstore.com/ui/emerald/bh-arrow-down.svg) 0 10px no-repeat;
    color: black;
    height: 100px;
    top: 0px;
    left: 120px;
    opacity: 1; }


@media (max-width: 767px) {
    .responsive #beginHere {
        left: -20px;
        bottom: -20px;
        height: 60px;
        background-size: 75% 75%;
        font-size: 1.5em;
        padding-left: 130px; } }
#beginHere {
    moz-transform-origin: 10% 100%;
    -o-transform-origin: 10% 100%;
    -ms-transform-origin: 10% 100%;
    -webkit-transform-origin: 10% 100%;
    transform-origin: 10% 100%;
    padding-left: 80px;
    padding-top: 80px;
    background: url(//cdn2.tailorstore.com/ui/emerald/bh-arrow-left.svg) 0 0 no-repeat;
    height: 120px;
    left: 150px;
    top: 30px; }
@media (max-width: 767px) {

.responsive .leftmenu #beginHere {
        background-size: 50% 50%;
        background-position: top left;
        padding-top: 60px;
        padding-left: 40px;
        top: 30px; } }

#beginHere.hide {
    opacity: 0;
}



/**********************************************************************************************************************************/
/*************************************************** Login Page *********************************************************************/
/**********************************************************************************************************************************/

.login-card{border-radius: 50px 5px}

.login-card div img {width: 100px; height: 100px;}

/**********************************************************************************************************************************/
/*************************************************** Registration Page *********************************************************************/
/**********************************************************************************************************************************/

.register-card{border-radius: 50px 5px}


/**********************************************************************************************************************************/
/*************************************************** Dashboard Page *********************************************************************/
/**********************************************************************************************************************************/


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e1dcd5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    background: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/images/bcg_primary.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    height: 100%;  background-color: white;
    z-index: -1;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.modal-notify .modal-header {
    border-radius: 3px 3px 0 0;
}
.modal-notify .modal-content {
    border-radius: 3px;
}

#mySidenav .sideNavContent{ height: 180px;  border-bottom: 1px solid #bdb8b1; }

#mySidenav .sideNavContent > img { cursor: pointer}

#mySidenav .sideNavContent .brandName { color: white}

nav > span {font-size:20px;cursor:pointer; color:white}

.sidenav .options .option{

    font-size: 15px;

    cursor: pointer;

    color: white;

    padding-top: 18px;

    padding-bottom: 18px;

    border-bottom: 1px solid #bdb8b1;

}

.sidenav .options .option:hover{

    background: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: white;


}


/**********************************************************************************************************************************/
/*************************************************** Price Box ********************************************************************/
/**********************************************************************************************************************************/

.priceBox {position: absolute; right: 20px; top: 200px; display: block}

.priceBox #finalPrice {text-align: right; font-size: 30px}


/**********************************************************************************************************************************/
/*************************************************** Side Nav *********************************************************************/
/**********************************************************************************************************************************/

.menu{position: absolute; background: rgba(0, 0, 0, 0.39); width: 130px; bottom: 0px; top:0px; height: inherit;}

.menu .menu-panel .menu-options .menu-option {cursor: pointer; white-space: nowrap; text-align: center;}

.menu .menu-panel .menu-options .menu-option .menu-icon{width: 80px;height: 80px;}

.menu .menu-panel .menu-options .menu-back-option {background-color: #265e89}

.menu .menu-panel .menu-options .menu-back-option > div {height: 80px; width: 80px; align-items: center;}

.menu .menu-panel .menu-options .menu-back-option > div i {font-size:55px; color: rgb(255,255,255);}

.menu .menu-panel .menu-options .menu-back-option > span {color: rgb(255,255,255);}

#main-menu{transition: all 2s ease-in-out;transition-property: all; transition-duration: 0.5s;transition-timing-function: ease-in-out;transition-delay: initial; transform:translateZ(0px);}

#menu-pocket{transition: all 2s ease-in-out;transition-property: all;transition-duration: 0.5s;transition-timing-function: ease-in-out;transition-delay: initial;transform:translateZ(20px);}

#menu-button-thread {transition: all 2s ease-in-out;transition-property: all;transition-duration: 0.5s;transition-timing-function: ease-in-out;transition-delay: initial;transform:translateZ(20px);}

#menu-contrast{transition: all 2s ease-in-out;transition-property: all;transition-duration: 0.5s;transition-timing-function: ease-in-out;transition-delay: initial;transform:translateZ(20px);}

.hide {
    margin-left: -130px;
    opacity: 0;

}


/******************************************************************************************************************************/
/*************************************************** CARDS ********************************************************************/
/******************************************************************************************************************************/

.card-header{

    border-radius: 50px 15px;
}



/******************************************************************************************************************************/
/*************************************************** FOR THE OPTIONS PANEL ****************************************************/
/******************************************************************************************************************************/



.option-panel {position: absolute;top: 20px;left: 160px; border-radius: 50px 10px;

}



#brands-options-panel{width: 30rem; display: none}

#brands-options-panel .tab-content .tab-pane .fabric-contents .fabric-content{

    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #f883f2;
    cursor: pointer;

}


#brands-options-panel .tab-content .tab-pane{overflow: scroll; height: 400px; overflow-x: hidden;}

#brands-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .thumb {margin-right: 10px; width: 80px; height: 80px;}

#brands-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .mid *{text-align: left; font-family: "Merriweather", Times, "Times New Roman", serif; font-size: 0.8em; line-height: 1.5; }

#brands-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .mid h2{ font-size: 1.3em; }

#brands-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .prices {     -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin: 0 0.5em;
    position: absolute;
    right:0px;

}




#fit-options-panel{width: 17rem; display: none;}

.fabric-options-panel{width: 30rem; display: none}

.fabric-options-panel .tab-content .tab-pane .fabric-contents .fabric-content{

    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #f883f2;
    cursor: pointer;

}


.fabric-options-panel .tab-content .tab-pane{overflow: scroll; height: 400px; overflow-x: hidden;}

.fabric-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .thumb {margin-right: 10px; width: 80px; height: 80px;}

.fabric-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .mid *{text-align: left; font-family: "Merriweather", Times, "Times New Roman", serif; font-size: 0.8em; line-height: 1.5; }

.fabric-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .mid h2{ font-size: 1.3em; }

.fabric-options-panel .tab-content .tab-pane .fabric-contents .fabric-content .prices {     -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin: 0 0.5em;
    position: absolute;
    right:0px;

}

#sleeve-options-panel{width: 17rem; display: none}

#collar-options-panel{width: 30rem; display: none;}

#collar-options-panel .card-body .col-12 .collar-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

#collar-options-panel .card-body .col-12 .collar-contents .collar-content{

    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #f883f2;
    cursor: pointer;


}

#collar-options-panel .card-body .col-12 .collar-contents .collar-content img{ width: 80px; height:80px;}

#collar-options-panel .card-body .col-12 .collar-contents .collar-content .mid *{text-align: left; font-family: "Merriweather", Times, "Times New Roman", serif; font-size: 0.8em; line-height: 1.5; }

#collar-options-panel .card-body .col-12 .collar-contents .collar-content .mid h2{ font-size: 1.3em; }

#collar-options-panel .card-body .col-12 .collar-contents .collar-content .mid span{word-break: break-all; display: inline-block;}

#collar-options-panel .card-body .col-12 .collar-contents .collar-content .prices {     -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin: 0 0.5em;
    position: absolute;
    right:0px;

}

#cuff-options-panel{width: 30rem; display: none;}

#cuff-options-panel .card-body .col-12 .cuff-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

#cuff-options-panel .card-body .col-12 .cuff-contents .cuff-content{

    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #f883f2;
    cursor: pointer;


}

#cuff-options-panel .card-body .col-12 .cuff-contents .cuff-content .mid *{text-align: left; font-family: "Merriweather", Times, "Times New Roman", serif; font-size: 0.8em; line-height: 1.5; }

#cuff-options-panel .card-body .col-12 .cuff-contents .cuff-content .mid h2{ font-size: 1.3em; }

#cuff-options-panel .card-body .col-12 .cuff-contents .cuff-content .mid span{word-break: break-all; display: inline-block;}

#cuff-options-panel .card-body .col-12 .cuff-contents .cuff-content .prices {     -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin: 0 0.5em;
    position: absolute;
    right:0px;

}

#shoulder-strap-options-panel{width: 30rem; display: none;}

#placket-options-panel{width: 30rem; display: none;}

#placket-options-panel .card-body .col-12 .placket-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

#placement-options-panel{width: 20rem; left: 200px; display: none;}

#style-options-panel{width: 28rem; left: 200px; display: none;}

#back-details-options-panel{width: 20rem; display: none;}

#bottom-cut-options-panel {width: 23rem; display: none;}

#button-options-panel {width: 23rem; display: none;}

#button-options-panel .card-body .col-12 .button-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

#button-hole-thread-options-panel{width: 25rem; left: 200px; display: none;}

#button-hole-thread-options-panel .card-body .col-12 .button-hole-thread-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

#button-thread-options-panel{width: 25rem; left: 200px; display: none;}

#button-thread-options-panel .card-body .col-12 .button-hole-thread-contents {list-style-type: none; overflow: scroll; height: 550px; overflow-x: hidden}

.contrast-options-panel{width: 30rem;position: absolute; top: 20px; left: 200px; border-radius: 50px 10px; display: none}

/*#contrast-options-panel .tab-content .tab-pane{overflow: scroll; height: 350px; overflow-x: hidden;}*/

.contents .content{position: relative;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    clear: both;
    padding: 5px;
    border-bottom: 1px solid #f883f2;
    cursor: pointer;
}

.contents .content .mid *{text-align: left; font-family: "Merriweather", Times, "Times New Roman", serif; font-size: 0.8em; line-height: 1.5; }

.contents .content .thumb {width: 80px; height: 80px}

.contents .content .mid h2{ font-size: 1.2em;  margin: 0 1em 0 0; }

.contents .content .mid span{word-break: break-all; display: inline-block; line-height: 1.8;}

.contents .content .prices {     -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
    margin: 0 0.5em;
    position: absolute;
    right:0px;

}